/* general styling */
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("IMG-4430.JPG");
    min-height: 100vh;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

/* navbar */
#logo {
    text-decoration: none;
    color: white;
    margin: 8px;
    font-size: 25px;
}

.nav {
    text-decoration: none;
    color: white;
    float: right;
    margin: 8px;
    margin-right: 10px;
    font-size: 20px;
}

#logo:hover,
.nav:hover {
    opacity: 0.5;
}

/* form */
#contact {
    /* font-size: 45px; */
    color: black;
}

.form {
    margin-top: 10%;
}

.form-container {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
}

  #form-name {
    position: relative;
    margin-bottom: 10px;
  }
  
  #form-email {
    position: relative;
  }

  #form-message{
    margin-top: 10px;
    position: relative;
  } 

  .form-control {
      width: 450px;
      height: 35px;
      position: relative;
  }

  #message {
      width: 450px;
      height: 300px;
      position: relative;
  }

#form-submit  {
    /* background-color: darkblue;  */
    padding: 5px 15px;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    position: relative;
}
    
#form-submit:hover {
    opacity: 0.6;
}

.form-section {
    margin-bottom: -100px;
}