/* general styling */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    scroll-behavior: smooth;
    color: black;
}

/* navbar */
nav {
    z-index: 999;
    top: 0;
    left: 0;
    line-height: 2rem;
    width: 100%;
    text-decoration: none;
    font-size: 23px;
    padding: 35px;
    position: fixed;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav {
        margin-bottom: 10%;
        padding: 4%;
    }
  }

#logo,
#portfolio,
#about,
#contact {
    text-decoration: none;
    color: black;
}

#contact {
    float: right;
}

#logo:hover,
#about:hover,
#portfolio:hover,
#contact:hover {
    opacity: 0.5;
}

.title {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin-top: 8%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .title {
        padding-top: 33%;
    }
  }

/* arrows */
#next,
#prev {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: fixed;
    top: 60%;
}

#prev {
    left: 3%;
}

#next {
    right: 3%;
}

#next:hover,
#prev:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #next,
    #prev {
        color: white;
        /* background-color: grey; */
        border-radius: 100%;
        padding: 5px;
    }
  }

/* image container */
.container {
    margin-top: 6%;
    background-color: white;
    overflow-x: visible;
    width: 100%;
    padding-left: 120px;   
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        top: 20%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
  }

.image {
    width: 400px;
    height: 500px;
    padding: 10px;
    z-index: -1;
}

.image:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .image {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

/* enlarge image */
.hide {
    display: none;
}

#back {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
}

#content {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.modal-content {
    position: fixed;
    top: 11%;
    left: 32%;
    height: 80vh;
    z-index: 999;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .modal-content {
      width: 100%;
      padding: 3px;
      margin: 0;
      left: 0;
      top: 19%;
      height: 66%;
    }
  }

#close {
    position: fixed;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    font-size: 35px;
    padding-left: 9px;
    padding-right: 9px;
    top: 15%;
    right: 30%;
    border-radius: 90%;
    /* background-color: white; */
    margin: 0;
    z-index: 999;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #close {
        right: 0;
        top: 20%;
    }
    }

#close:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* footer */
#top {
    font-size: 20px;
    text-align: center;
    padding: 35px;
    padding-bottom: 5px;
}

.fa {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}