/* general styling */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    scroll-behavior: smooth;
    color: black;
}

/* navbar */
nav {
    z-index: 999;
    top: 0;
    left: 0;
    line-height: 2rem;
    width: 100%;
    text-decoration: none;
    font-size: 23px;
    padding: 35px;
    position: fixed;
}

#logo,
#portfolio,
#about,
#contact {
    text-decoration: none;
    color: black;
}

#contact {
    float: right;
}

#logo:hover,
#about:hover,
#portfolio:hover,
#contact:hover {
    opacity: 0.5;
}

.title {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin-top: 8%;
}

/* arrows */
#next,
#prev {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#next:hover,
#prev:hover {
    opacity: 0.5;
}

#next,
#prev {
    position: fixed;
    top: 60%;
}

#prev {
    left: 3%;
}

#next {
    right: 3%;
}

/* image container */
.container {
    margin-top: 6%;
    background-color: white;
    overflow-x: visible;
    width: 100%;
    padding-left: 120px;   
}

.image {
    width: 400px;
    height: 500px;
    padding: 10px;
    z-index: -1;
}

.image:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* footer */
#top {
    font-size: 20px;
    text-align: center;
    padding: 35px;
    padding-bottom: 5px;
}

.fa {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

/* enlarge image */
.hide {
    display: none;
}

#back {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
}

#back::after {
    content: "";
    height: 100%;
    width: 100%;
    color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal-content {
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    height: 80vh;
    z-index: 3;
}

.modal-content::after {
    content: "";
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#close {
    position: relative;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    font-size: 35px;
    padding-left: 9px;
    padding-right: 9px;
    top: -60%;
    border-radius: 90%;
    background-color: chartreuse;
    margin: 0;
}

#close:hover {
    cursor: pointer;
    opacity: 0.5;
}
