/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif !important;
}

/* navbar */
nav {
    width: 100% !important;
    font-size: 23px !important;
    padding: 35px;
    z-index: 999;
    left: 0;
    top: 0;
    line-height: 2rem;
    position: fixed !important;
    background: none;
}

#home,
#port,
#abt {
    color: white !important;
    text-decoration: none !important;
    float: left !important;
}

#cont {
    float: right !important;
    color: white !important;
    text-decoration: none !important;
}

#home:hover,
#abt:hover,
#port:hover,
#cont:hover {
    opacity: 0.5 !important;
    transition: transform 150ms;
    transform: translateY(-3px);
}

/* about-me page */
#name {
    font-size: 100px;
    color: white;
    position: absolute;
    left: 32%;
    top: 20%;
    border-bottom: 2px solid white;
}

#title {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    background: white;
    font-size: 90px;
    color: black;
    position: absolute;
    left: 28%;
    top: 26%;
    transform: rotate(360deg);
}

.about {
    color: white;
    height: 100vh;
    padding: 10px;
    text-align: center;
    background-color: black;
}

.text {
    font-size: 26px;
    padding: 15px;
    margin-top: 19.5%;
    position: relative;
    text-align: left;
    width: 42%;
    left: 34%;
}

.fa {
    text-decoration: none;
    color: white;
}

.fa:hover {
    opacity: 0.5;
}

/* portfolio page */
.back2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
}

#portfolio {
    padding: 200px;
    padding-top: 150px;
    padding-bottom: 11vh;
    justify-content: center;
} 

.headline {
    font-size: 45px;
}

.carousel-item {
    height: 640px;
    width: 100vw;
    font-size: 22px;
}

.carousel-item::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    opacity: 0.1;
}





#folio {
    font-size: 60px;
    padding: 80px;
    width: 100%;
    margin-bottom: 30px;
}

.show-case {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
    color: black;
}

.go-to {
    text-align: center;
}

.img {
    height: 65vh;
    margin: 20px;
}

.img:hover {
    opacity: 0.9;
}

#portrait,
#couple,
#maternity,
#landscape {
    float: left;
    margin-left: 140px;
}

#portrait{
     /* transform: translateY(150px); */
     animation: port 2s ease forwards;
     /* opacity: 0; */
}

/* @keyframes port {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 140px;
        opacity: 1;
    }
} */

#landscape {
    padding-bottom: 40px;
}

#product,
#event,
#alt {
    float: right;
    margin-right: 140px;
}

.info {
    font-size: 40px;
    margin-top: 17%;
}

.info:hover {
    text-decoration: underline;
    cursor: pointer;
}

#port-info,
#couple-info,
#mat-info,
#land-info {
    float: right;
    margin-right: 15%;
}

#pro-info,
#event-info,
#alt-info {
    float: left;
    margin-left: 15%;

}

.hide {
    display: none;
}

footer {
    padding: 20px;
    font-size: 15px;
    color: red;
    text-align: center;
    width: 100%;
    position: absolute;
    text-decoration: none;
    opacity: 0.7;
    bottom: 0;
}

/* contact page */
.contact {
    color: white;
    height: 100vh;
    padding: 10px;
    text-align: center;
    background-color: black;
    width: 100%;
}

.context {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    font-size: 26px;
}