/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif !important;
}

/* navbar */
nav {
    width: 100% !important;
    font-size: 23px !important;
    padding: 35px;
    z-index: 999;
    left: 0;
    top: 0;
    line-height: 2rem;
    position: fixed !important;
    background: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav {
      width: 100% !important;
      padding: 4%;
      color: white !important;
    }
  }

#home,
#port,
#abt {
    color: white !important;
    text-decoration: none !important;
    float: left !important;
}

#cont {
    float: right !important;
    color: white !important;
    text-decoration: none !important;
}

#home:hover,
#abt:hover,
#port:hover,
#cont:hover {
    opacity: 0.5 !important;
    transition: transform 150ms;
    transform: translateY(-3px);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #home,
    #abt,
    #port,
    #cont {
      color: white !important;
    }
  }

/*  */
/* about-me page */
/*  */
#name {
    font-size: 100px;
    color: white;
    position: absolute;
    left: 32%;
    top: 20%;
    border-bottom: 2px solid white;
}

#title {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    background: white;
    font-size: 90px;
    color: black;
    position: absolute;
    left: 28%;
    top: 26%;
    transform: rotate(360deg);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #title {
        left: 7%;
        display: none;
    }
  }

.about {
    color: white;
    height: 100vh;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .about {
        margin: 0;
        width: 100%;
        height: 100%;
    }
  }

.text {
    font-size: 26px;
    padding: 15px;
    margin-top: 19.5%;
    position: relative;
    text-align: left;
    width: 42%;
    left: 34%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .text {
        margin-top: 60%;
        /* width: 69%; */
        clear: both;
        width: 100%;
        left: 0;
        height: 100vh;
    }
  }

.fa {
    text-decoration: none;
    color: white;
}

.fa:hover {
    opacity: 0.5;
}

/*  */
/* portfolio page */
/*  */
.black {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .black {
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }

#folio {
    font-size: 60px;
    padding: 80px;
    margin-top: 5%;
    width: 100%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #folio {
        padding-top: 40%;
        padding-bottom: 0;
    }
  }

.show-case {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .show-case {
        background-color: black;
        color: white !important;
    }
  }

.go-to {
    text-align: center;
}

.img {
    height: 65vh;
    margin: 20px;
}

.img:hover {
    opacity: 0.9;
}

#portrait,
#couple,
#maternity,
#landscape {
    float: left;
    margin-left: 140px;
}


#landscape {
    padding-bottom: 40px;
}

#product,
#event,
#alt {
    float: right;
    margin-right: 140px;
}

.info {
    font-size: 40px;
    margin-top: 17%;
    text-decoration: none !important;
    color: black;
}

#port-info,
#couple-info,
#mat-info,
#land-info {
    float: right;
    margin-right: 15%;
    text-decoration: none !important;
    color: black;
}

#pro-info,
#event-info,
#alt-info {
    float: left;
    margin-left: 15%;
    text-decoration: none !important;
    color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img,
    #portrait,
    #couple,
    #maternity,
    #landscape,
    #product,
    #event,
    #alt {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      left: 0;
      margin-bottom: 0;
    }
  }

@media only screen and (max-width: 768px) {
/* For mobile phones: */
.img::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    opacity: 1;
    z-index: 999;
    }
}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
.info {
    /* display: none; */
    position: absolute;
    text-decoration: none !important;
    color: white !important;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #port-info {
        top: 49%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #pro-info {
        top: 88%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #couple-info {
        top: 122%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #event-info {
        top: 160%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #mat-info {
        top: 196%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #alt-info {
        top: 230%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        color: white;
        }
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #land-info {
        top: 269%;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        width: 100vw;
        text-align: center;
        color: white;
        }
    }

footer {
    padding: 20px;
    font-size: 15px;
    color: red;
    text-align: center;
    width: 100%;
    position: absolute;
    text-decoration: none;
    opacity: 0.7;
    bottom: 0;
}

/*  */
/* contact page */
/*  */
.contact {
    color: white;
    height: 100vh;
    padding: 10px;
    text-align: center;
    background-color: black;
    width: 100%;
}

.context {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    font-size: 26px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .context {
      width: 100% !important;
      left: 0;
      right: 0;
    }
  }