/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

/* navbar */
nav {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    height: 10vh;
    align-content: center;
}

#logo {
    text-decoration: none;
    grid-column: 2/3;
    color: white;
    font-size: 35px;
}

.list {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 10px;
    padding: 5px;
}

.link {
    margin-top: 5px;
    justify-self: end;
}

#logo:hover,
#link:hover {
    opacity: 0.5;
}

/* about-me page */
.about {
    border: 10px solid brown;
    width: 100%;
}

#me {
    height: 100vh;
    float: left;
    border-right: 10px solid black;
}

#about-me {
    height: 100vh;
    padding: 10px;
    text-align: center;
}

.text {
    font-size: 22px;
    color: white;
    margin: 15px;
    margin-top: 20px;
}

