/* general styling */
* {
    box-sizing: border-box;
}

body {
    background-image: url("3me.JPG");
    background-position-y: -500px;
    background-size: 100%;
    scroll-behavior: smooth;
    color: white;
}

/* navbar */
#logo {
    text-decoration: none;
    color: white;
    margin: 8px;
    font-size: 25px;
}

.nav {
    text-decoration: none;
    color: white;
    float: right;
    margin: 8px;
    margin-right: 10px;
    font-size: 20px;
}

#logo:hover,
.nav:hover {
    opacity: 0.5;
}

.main-container {
    margin-top: 6%;
}

.main-section {
    background-color: black;
    font-size: 22px;
    padding: 20px;
    opacity: 0.7;
    margin: 25px;
    margin-right: 50%;
}