/* general styling */
* {
    box-sizing: border-box;
}

body {
    background-image: url("5E2A0325.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-position-y: 0px;
    background-size: 100%;
    scroll-behavior: smooth;
    color: white;
    overflow: hidden;
}

/* navbar */
#logo {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 25px;
}

.nav {
    text-decoration: none;
    color: white;
    float: right;
    margin: 15px;
    margin-right: 10px;
    font-size: 20px;
}

#logo:hover,
.nav:hover {
    opacity: 0.5;
}

.main-container {
    margin-top: 6%;
    background-color: transparent;
    background-image: none;
}

.main-section {
    background-color: black;
    font-size: 22px;
    padding: 20px;
    opacity: 0.7;
    margin: 25px;
    margin-right: 50%;
    position: relative;
    display: flex;
}