* {
    box-sizing: border-box;
}

body {
    background-image: url("3me.JPG");
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position-y: 40%;
    color: white;
    overflow: hidden;
}

#name {
    text-decoration: none;
    text-align: center;
    margin-top: 20%;
    background-image: none;
    opacity: 0.7;
    font-size: 90px;
    color: white;
}

#name:hover {
    font-size: 95px;
}

nav {
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 55px;
    background-image: none;
    opacity: 0.7;
}

#about {
    float: right;
}

#portfolio {
    float: left;
}

#about,
#portfolio {
    font-size: 20px;
    color: white;
}

#about:hover,
#portfolio:hover {
    opacity: 0.5;
    font-size: 23px;
}

/* footer */ 
#footer {
    clear: both;
    font-size: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    text-decoration: none;
    opacity: 0.7;
    bottom: 0;
  }

  .fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .fa:hover,
  .link:hover {
    opacity: 0.5;
    transition: transform 150ms;
    transform: translateY(-3px);
  }

  .nav {
    clear: both;
    color: #fff;
    width: 100%;
    position: absolute;
    text-decoration: none;
    opacity: 0.7;
    font-size: 20px;
    top: 0;
    padding: 55px;
  }

  #contact {
      float: right;
      margin-left: 85%;
  }

  #ref {
      font-size: 95px;
      clear: both;
      color: #fff;
      text-align: center;
      width: 100%;
      position: absolute;
      text-decoration: none;
      opacity: 0.7;
      margin-top: 30%;
      top: 0;
  }

  #ref:hover {
        opacity: 0.5;
        font-size: 100px;
  }