* {
    box-sizing: border-box;
}

body {
    background-image: url("5E2A0325.jpg");
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position-y: 11%;
    color: white;
    animation-name: body;
    animation-duration: 12s;
    overflow: hidden;
}

/* @keyframes body {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

#name {
    text-align: center;
    margin-top: 20%;
    animation-name: title;
    animation-duration: 10s;
    /* padding: 12%; */
    background-image: none;
    opacity: 0.7;
}

/* @keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

h1 {
    font-size: 90px;
}

nav {
    animation-name: nav;
    animation-duration: 12s;
    margin-top: 0px;
    width: 100%;
    padding: 55px;
    background-image: none;
    opacity: 0.7;
}

/* @keyframes nav {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

#about {
    float: right;
}

#about,
#portfolio {
    font-size: 20px;
    color: white;
}

#about:hover,
#portfolio:hover {
    opacity: 0.5;
}

/* footer */ 
#footer {
    padding-top: 220px;
    clear: both;
    font-size: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
    text-decoration: none;
    opacity: 0.7;
  }

  .fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .fa:hover,
  .link:hover {
    color: cornflowerblue;
    transition: transform 150ms;
    transform: translateY(-3px);
  }