* {
    box-sizing: border-box;
}

body {
    background-image: url("5E2A0325.jpg");
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position-y: 11%;
    color: white;
    animation-name: body;
    animation-duration: 12s;
}

/* @keyframes body {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

#name {
    text-align: center;
    margin-top: 26%;
    animation-name: title;
    animation-duration: 10s;
    background-color: black;
    opacity: 0.6;
}

/* @keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

h1 {
    font-size: 90px;
}

nav {
    margin: 25px;
    animation-name: nav;
    animation-duration: 12s;
    background-color: tomato;
}

/* @keyframes nav {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

#about {
    float: right;
}

#about,
#portfolio {
    font-size: 20px;
    color: white;
}

#about:hover,
#portfolio:hover {
    opacity: 0.5;
}
