/* general styling */
* {
    box-sizing: border-box;
}

body {
    background-color: black !important;
}

/* navbar */
#logo {
    text-decoration: none;
    color: white;
    margin: 8px;
    font-size: 25px;
}

.nav {
    text-decoration: none;
    color: white;
    float: right;
    margin: 8px;
    margin-right: 10px;
    font-size: 20px;
}

#logo:hover,
.nav:hover {
    opacity: 0.5;
}

#portfolio {
    background-color: black;
    padding: 200px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.carousel-item {
    height: 700px;
}