* {
    box-sizing: border-box;
}

body {
    background-color: black !important;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 15px;
}

#portfolio {
    background-color: black;
    padding: 200px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.carousel-item {
    height: 700px;
}