/* general styling */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    scroll-behavior: smooth;
}

/* navbar */
#logo {
    text-decoration: none;
    color: white;
    margin: 8px;
    font-size: 25px;
}

.nav {
    text-decoration: none;
    color: white;
    float: right;
    margin: 8px;
    margin-right: 10px;
    font-size: 20px;
}

#logo:hover,
.nav:hover {
    opacity: 0.5;
}

/* image container */
.container {
    margin-top: 6%;
    background-color: black;
    overflow-x: visible;
    width: 100%;
    padding-left: 120px;   
}

.image {
    width: 400px;
    height: 500px;
    padding: 10px;
}

.image:hover {
    opacity: 0.5;
}

/* footer */
#top {
    font-size: 25px;
    text-align: center;
    padding: 35px;
    padding-bottom: 5px;
}

#scroll {
    text-decoration: none;
    color: white;
}

#scroll:hover {
    opacity: 0.5;
}

/* enlarge image */
.modal {
    margin-top: 0%;
    align-content: center;
}

.hide {
    display: none;
}